@inherits LayoutComponentBase
@using Shared.UI.Themes
@using Microsoft.AspNetCore.Identity;

@inject NavigationManager NavManager
@inject SignInManager<IdentityUser> SignInManager

<PageTitle>Everest</PageTitle>

<MudThemeProvider Theme=@EverestThemes.Classic @bind-IsDarkMode=_isDarkTheme />
<MudDialogProvider CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar Color="Color.Primary" Fixed="false">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick=@toggleDrawer />
                <MudSpacer />
                <MudText Typo="Typo.h4" Class="ml-3" Style="font-family: 'BespokeSlab-Regular'">
                    <MudIcon Size="Size.Large" Icon=@Icons.Filled.FilterHdr /> <b>Ev</b>erest
                </MudText>
            </MudAppBar>
            <MudDrawer @bind-Open=@_open Elevation="1" Variant=@DrawerVariant.Temporary>
                <MudDrawerHeader>
                    <MudText Typo=@Typo.h6>Pages</MudText>
                </MudDrawerHeader>
                <MudNavLink Href="/" Icon=@Icons.Filled.Dashboard>Dashboard</MudNavLink>
                <MudNavLink Href="/ToDo" Icon=@Icons.Filled.Checklist>To-Do</MudNavLink>
                <MudNavLink Href="/Notes" Icon=@Icons.Material.Filled.Feed>Notes</MudNavLink>
                <MudNavLink Href="/Admin" Icon=@Icons.Filled.Shield>Admin</MudNavLink>
                <MudSwitch @bind-Checked=@_isDarkTheme Color=@Color.Primary Label=@_themeLabel Class="ma-2" />
                <form method="post" action="Identity/Account/LogOut" style="margin-left:15px;position:fixed;bottom:20px;color:white;">
                    <button type="submit">
                        <MudIcon Icon=@Icons.Filled.Logout />&nbsp;
                        Log out
                    </button>
                </form>
            </MudDrawer>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
        <MudText Style="position:fixed;bottom:5px;right:5px;font-family:'BespokeSlab-Regular';font-size:14px;" Color=@Color.Secondary>
            Everest v0.4.2 | © Evan Klein, 2022 | <MudLink Color=@Color.Secondary style="font-family:'BespokeSlab-Regular';font-size:14px;" Href="https://github.com/evklein/everest-dashboard">Source</MudLink>
        </MudText>
    </Authorized>
</AuthorizeView>

@code
{
    private bool _open = false;
    private bool _isDarkTheme = true;
    private string _themeLabel => _isDarkTheme ? "Switch to light mode" : "Switch to dark mode";

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/Identity/Account/Login");
        }
    }

    private void toggleDrawer()
    {
        _open = !_open;
    }
}
